{% extends "myjournal/base.html" %}

{% block content %}
    <h2 class="mt-5">Update Evening Entry</h2>

    <div class="row">
        <div class="col-md-8">
            {% if error %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endif %}
            <form method="POST">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col">
                    <input type="text" name="title" class="form-control form-control-lg" id="id_title" value="Post for {{ today|date:"D, d F Y" }}" 
                    placeholder="Title here" required>
                </div>
                <div class="col">
                    <input type="datetime-local" class="form-control form-control-lg mb-3" name="start_time" value="{{eveningjournal.start_time}}" 
                        max="{{ today_datetimelocal }}"
                        min="{{ today_datetimelocal_min }}"required="" id="id_start_time">
                </div>
            </div>    
            <div class="col-md-12">
                <p class="lead">3 things I did great today!</p>
                <div class="form-group mb-3">
                    <input type="text" name="q1a" class="form-control form-control-lg" id="id_q3a" value="{{eveningjournal.q3a}}">
                </div>
                <div class="form-group mb-3">
                    <input type="text" name="q1b" class="form-control form-control-lg" id="id_q3b" value="{{eveningjournal.q3b}}">
                </div>
                <div class="form-group mb-3">
                    <input type="text" name="q1c" class="form-control form-control-lg" id="id_q3c" value="{{eveningjournal.q3c}}">
                </div>

                <p class="lead">3 things that piqued my curiosity</p>
                <div class="form-group mb-3">
                    <input type="text" name="q2a" class="form-control form-control-lg" id="id_q4a" value="{{eveningjournal.q4a}}">
                </div>
                <div class="form-group mb-3">
                    <input type="text" name="q2b" class="form-control form-control-lg" id="id_q4b" value="{{eveningjournal.q4b}}">
                </div>
                <div class="form-group mb-3">
                    <input type="text" name="q2c" class="form-control form-control-lg" id="id_q4c" value="{{eveningjournal.q4c}}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 lead">This evening, I feel:</label>
                <div class="col-sm-9">
                <select name="mood" id="id_mood" class="form-select form-select-lg" required selected="selected">
                    <option value="0" {% if eveningjournal.mood == 0 %} selected {% endif %}>Neutral 😶</option>
                    <option value="1" {% if eveningjournal.mood == 1 %} selected {% endif %}>Silly 🤪</option>
                    <option value="2" {% if eveningjournal.mood == 2 %} selected {% endif %}>Dreamy 💭</option>
                    <option value="3" {% if eveningjournal.mood == 3 %} selected {% endif %}>Creative 👨‍🎤</option>
                    <option value="4" {% if eveningjournal.mood == 4 %} selected {% endif %}>Active 💪</option>
                </select>
            </div>
            <div class="col-md-12 mb-5">
                <button type="submit" class="btn btn-lg text-white btn-info">Update</button>
                <button type="button" class="btn btn-lg text-white btn-danger" onclick="$('#delete').click()">Delete</button>
            </div>
            </form>
            
            <form style='display: none;' method="POST" action="{% url 'myjournal:evening_delete' eveningjournal.id %}">
            {% csrf_token %}
        
                <button id="delete" type="submit">Delete</button>
            </form>
    </div> 


{% endblock %}